html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-width: 320px;
  color: #2b283a;
}

/* Typography */

h1,
h3 {
  margin: 0 auto;
}

h1 {
  color: whitesmoke;
  font-style: 1rem;
  margin: 0;
}

h2 {
  margin-top: 0;
  font-size: 1rem;
}

h3 {
  color: #d0aaff;
  font-style: 1rem;
}

p {
  line-height: 1.5;
}

/* Links  */

a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

/* Layout */

header,
section,
footer {
  padding: 2.8px 0;
}

header,
.second-section {
  background-color: #5f29a3;
}

.container-one {
  margin: 1em;
  text-align: center;
}

.container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-sneakers {
  width: 70%;
}

.button-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.second-section {
  margin: 1em;
  color: whitesmoke;
}

.link-btn-style {
  display: inline-block;
  margin: 0.31em 0.31em 0.31em 0;
  text-decoration: none;
  border: none;
  border-radius: 0.7em;
  padding: 0.7em 1.125em;
  font-weight: 500;
}

.button-link-btn {
  background-color: #5f29a3;
  color: whitesmoke;
}

.button-link-a,
.link-contact {
  background-color: #f0e0ff;
  color: #5f29a3;
}

.link-about {
  color: #5f29a3;
  background-color: whitesmoke;
}

.link-btn-style:hover,
.link-btn-style:active {
  background-color: #f3e885;
  color: #2b283a;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.125em;
}

.image-section-two {
  width: 100%;
  border-radius: 0.7em;
}

footer {
  text-align: center;
  color: #5f29a3;
}

@media (min-width: 768px) {
  h1,
  h3 {
    margin: 0 auto;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    text-align-last: left;
  }

  /* Layout */
  header,
  section,
  footer {
    padding: 2.5em 0;
  }

  .container-one {
    margin-left: 1em;
    text-align: left;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .button-flex {
    flex-direction: row;
  }

  /* image container */

  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
  }
  .image-section-two {
    height: 370px;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 1.7rem;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .image-container {
    gap: 2em;
  }
}

@media (min-width: 1280px) {
  h2 {
    font-size: 2rem;
  }
}
