html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #2b283a;
  font-style: 16px;
}

/* Typography */

h1,
h3 {
  margin: 0;
}

h1 {
  color: whitesmoke;
  font-style: 36px;
  margin: 0;
}

h2 {
  margin-top: 0;
}

h3 {
  color: #d0aaff;
  font-style: 20px;
}

p {
  line-height: 23px;
}

/* Links  */

a {
  color: #ef5839;
  text-decoration: underline dotted;
}

a:hover,
a:active {
  color: #d4b44c;
}

/* Layout */

header,
section,
footer {
  padding: 45px 0;
}

header,
.second-section {
  background-color: #5f29a3;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.main-sneakers {
  width: 100%;
}

.second-section {
  color: whitesmoke;
}

.button-link-btn {
  background-color: #5f29a3;
  color: whitesmoke;
  text-decoration: none;
  border: none;
  border-radius: 4.6px;
  padding: 10px 19px;
  font-weight: 500;
  margin: 5px;
}

.button-link #button-link-a,
.links .link-contact {
  background-color: #f0e0ff;
  color: #5f29a3;
  text-decoration: none;
  border: none;
  border-radius: 4.6px;
  padding: 10px 19px;
  font-weight: 500;
  margin: 1px;
}

.links .link-about {
  margin: 5px;
  text-decoration: none;
  color: #5f29a3;
  background-color: whitesmoke;
  border-radius: 4.6px;
  padding: 10px 19px;
  font-weight: 500;
}

.button-link-btn:hover,
.button-link .button-link-btn:active,
.button-link #button-link-a:hover,
.links .link-contact:hover,
.links .link-contact:active,
.links .link-about:hover,
.links .link-about:active {
  background-color: #f3e885;
  color: #2b283a;
}

.image-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.image-section-two {
  width: 300px;
  border-radius: 4.6px;
}

footer {
  text-align: center;
  color: #5f29a3;
}
